<p-card header="Loans">
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
  <p-table [value]="getResultados()"  styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
              <tr>
                  <th>Bank</th>
                  <th>Value</th>
                  <th>Disbursement Date</th>
                  <th>Current Value</th>
                  <th>Installment Value</th>
                  <th>Scheduled Installments</th>
                  <th>Monthly Interest Rate</th>
                  <th></th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loan>
              <tr>
                  <td>{{loan.bank}}</td>
                  <td>{{loan.value}}</td>
                  <td>{{loan.disbursementDate}}</td>
                  <td>{{loan.currentValue}}</td>
                  <td>{{loan.installmentValue}}</td>
                  <td>{{loan.scheduledInstallments}}</td>
                  <td>{{loan.monthlyInterestRate}}</td>
                  <td >
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-text p-button-sm"></button>
                    <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text p-button-sm" (click)="deleteLoan(loan)"></button>
                </td>
              </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="pt-2">
          <p-button label="New" styleClass="p-button-sm" (click)="showDialog()"></p-button>
        </div>
       </ng-template>
        </p-table>
        <p-toast></p-toast>

        <p-dialog header="Title" [(visible)]="display" [style]="{width: '500px', height:'700px'}" header="New Loan" [modal]="true" styleClass="p-fluid">
          <ng-template pTemplate="content">
            <div class="field">
              <label for="banks">Bank</label>
              <p-dropdown [(ngModel)]="loan.bank"  inputId="bank" [options]="banks" placeholder="Select">
                  <ng-template let-option pTemplate="item">
                      <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                  </ng-template>
              </p-dropdown>
          </div>
       <div class="formgrid grid">
          <div class="field col">
            <label for="disbursementDate">Disbursement Date</label>
            <p-calendar [(ngModel)]="loan.disbursementDate" [showIcon]="true" inputId="disbursementDate" [inputStyle]="{'height':'50px'}" ></p-calendar>
         </div>
         <div class="field col">
          <label for="scheduledInstallments">Scheduled Installments</label>
          <p-inputNumber [(ngModel)]="loan.scheduledInstallments" inputId="scheduledInstallments" [showButtons]="true" [min]="0" [max]="240"></p-inputNumber>
        </div>
      </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="value">Value</label>
            <p-inputNumber id="value" [(ngModel)]="loan.value" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
        </div>
        <div class="field col">
              <label for="installmentValue">Installment Value</label>
              <p-inputNumber id="installmentValue" mode="currency"  currency="USD" locale="en-US" [(ngModel)]="loan.installmentValue"></p-inputNumber>
          </div>
      </div>
      <div class="formgrid grid">
        <div class="field col">
          <label for="monthlyInterestRate">Monthly Interest Rate</label>
          <p-inputNumber id="monthlyInterestRate"   mode="decimal" [minFractionDigits]="2" [(ngModel)]="loan.monthlyInterestRate"></p-inputNumber>
      </div>
      <div class="field col">
            <label for="annualisedInterestRate">Annualised Interest Rate</label>
            <p-inputNumber id="annualisedInterestRate"  mode="decimal" [minFractionDigits]="2" [(ngModel)]="loan.annualisedInterestRate" ></p-inputNumber>
        </div>
    </div>
      </ng-template>
          <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveLoan()"></button>
        </ng-template>
      </p-dialog>
</p-card>
